<p id="notice"><%= notice %></p>

<h1>Ordered Products</h1>

<table>
  <thead>
    <tr>
      <th>Cart</th>
      <th>Name</th>
      <th>Price</th>
      <th>Img</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordered_products.each do |ordered_product| %>
      <tr>
        <td><%= ordered_product.cart %></td>
        <td><%= ordered_product.name %></td>
        <td><%= ordered_product.price %></td>
        <td><%= ordered_product.img %></td>
        <td><%= link_to 'Show', ordered_product %></td>
        <td><%= link_to 'Edit', edit_ordered_product_path(ordered_product) %></td>
        <td><%= link_to 'Destroy', ordered_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ordered Product', new_ordered_product_path %>
